:host {
  display: block;
  height: 100%;
}

.catalog-content {
  --padding-bottom: 60px;
}

.catalog-card {
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .catalog-img {
    height: 130px;
    width: 100%;
    object-fit: cover;
  }

  .item-title {
    font-size: 0.95rem;
    font-weight: 600;
  }
}