<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>HulksMacro Catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true" class="ion-padding catalog-content">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of products">
        <ion-card class="catalog-card">
          <img [src]="item.imageUrl" [alt]="item.name" class="catalog-img" />
          <ion-card-header>
            <ion-card-title class="item-title">{{ item.name }}</ion-card-title>
            <ion-card-subtitle>Php {{ item.price | number:'1.2-2' }}</ion-card-subtitle>
            <ion-badge color="primary" *ngIf="item.protein">{{ item.protein }}</ion-badge>
          </ion-card-header>
          <ion-card-content>
          <ion-button expand="block" size="small" color="primary" (click)="goToDetail(item.id)">
              View
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>